<div class="nav nav-admin">
  <span class="nav-admin title"><a href="/admin/tests" style="text-decoration: none;"><%= t('.admin_panel') %></a></span>

  <div class="nav-admin user">
   <%= t('.welcome') %>, <b class="nav-admin user-email"><%= current_user.email %></b> Guru |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
</div>
