<nav class="navbar navbar-light bg-light">
  <%= link_to t('.admin_panel'), admin_tests_path, class: 'navbar-brand' %>
  <span class="navbar-text">
      <%= t('.welcome') %> <%= current_user.name %> Guru | <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>


