<footer class="footer">
  <%= github_url('resh0607', 'TestGuru') %>
  <span>- проверьте свои знания в IT</span></br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %></br>
  <span>Автор: Иван Решетняк</span></br>
  <span><%= current_year %></span>
</footer>