<h1>Об авторе:</h1>

<div>
  <h3>
    Автор приложения - Иван Решетняк, в прошлом никак не связанный с миром программирования,</br>но делающий небольшие шаги в эту сферу.
    </br>Мой <a href="https://github.com/resh0607">github</a>
  </h3>
</div>