<h1>О проекте</h1>

<div>
  <h3>
    роект представляет собой учебное приложение,</br>позволяющее
    на практике изучить один из самых популярных веб-фреймворков: Rails.</br>
    Более детальную информацию о приложении вы можете узнать на сайте <a href="http://thinknetica.com">школы</a>
  </h3>
</div>
